:root {
  font-family: 'montserrat', Arial, Helvetica, sans-serif;
  --color-principal: #3802FA;
  --color-secundario: #370adb;
  --color-tercero: #866aeb;

--blanco: #e7e7f7;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  height: 100%;
  background: #b5affa;
  background-image: linear-gradient(to right top, #91b6ee, #6a9dfa, #4d81ff, #495fff, #5e2ff9); }